<div class="panel"
	style="background: white; margin-top: 50px; min-height: 550px; min-width: 10px">
	<h2>Halaman Mata Pelajaran</h2>

	<form action="#" method="get" id="form-pelajaran-search">
		<input type="text" placeholder="Search by Kode / Nama" id="keyword"
			name="keyword" style="height: 30px" size=30 required />
		<button type="submit" class="btn btn-primary " style="height: 32px">
			<i class="fa fa-search"></i>
		</button>
	</form>
	<div>
		<table class="table" id="tbl-pelajaran">
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<button type="button" class="btn btn-primary" id="btn-add">+</button>
				</td>
			</tr>
			<tr>

				<td>No</td>
				<td>Kode Mata Pelajaran</td>
				<td>Nama Mata Pelajaran</td>
				<td>Jam Pelajaran</td>
				<td>Aksi</td>
			</tr>
			<tbody id="list-pelajaran">

			</tbody>
		</table>
	</div>

</div>

<!-- syntax popup -->
<div id="modal-input" class="modal fade">
	<div class="modal-dialog" style="width: 500px">
		<div class="modal-content">
			<div class="modal-body">
				<!-- tempat jsp popupnya -->
			</div>
		</div>
	</div>
</div>